body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:540px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:540px;
}
#u1 {
  position:absolute;
  left:2px;
  top:262px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:290px;
  top:9px;
}
#u2_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u2_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u6 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:44px;
  visibility:hidden;
}
#u7_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u7_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:210px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:210px;
}
#u9 {
  position:absolute;
  left:2px;
  top:97px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:20px;
  top:19px;
  width:92px;
  height:16px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:20px;
  top:67px;
  width:40px;
  height:18px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:70px;
  top:62px;
  width:60px;
  height:28px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u15 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:160px;
  top:62px;
  width:60px;
  height:28px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u17 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:250px;
  top:62px;
  width:60px;
  height:28px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u19 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:20px;
  top:160px;
  width:79px;
  height:18px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:150px;
  top:160px;
  width:140px;
  height:25px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23 {
  position:absolute;
  left:20px;
  top:121px;
  width:105px;
  height:18px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:150px;
  top:118px;
  width:140px;
  height:25px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26 {
  position:absolute;
  left:16px;
  top:6px;
  width:41px;
  height:22px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:22px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
