body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:338px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:-10px;
  width:320px;
  height:550px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:550px;
}
#u1 {
  position:absolute;
  left:2px;
  top:267px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:39px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:39px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:120px;
  top:8px;
  width:73px;
  height:22px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:10px;
  top:8px;
  width:50px;
  height:22px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:-1px;
  top:36px;
  width:322px;
  height:40px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u9 {
  position:absolute;
  left:0px;
  top:77px;
  width:322px;
  height:40px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u10 {
  position:absolute;
  left:-2px;
  top:118px;
  width:322px;
  height:40px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u11 {
  position:absolute;
  left:0px;
  top:158px;
  width:320px;
  height:40px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:4px;
  top:168px;
  width:66px;
  height:16px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:0px;
  top:197px;
  width:320px;
  height:40px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u16 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:4px;
  top:208px;
  width:27px;
  height:16px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:0px;
  top:237px;
  width:340px;
  height:124px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:124px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u20 {
  position:absolute;
  left:-1px;
  top:491px;
  width:322px;
  height:50px;
  font-size:18px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:50px;
}
#u21 {
  position:absolute;
  left:2px;
  top:14px;
  width:318px;
  word-wrap:break-word;
}
