body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:504px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:504px;
}
#u1 {
  position:absolute;
  left:0px;
  top:490px;
  width:320px;
  height:50px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u2 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:125px;
  top:502px;
  width:30px;
  height:30px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:29px;
  top:502px;
  width:27px;
  height:27px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u6 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:246px;
  top:505px;
  width:25px;
  height:25px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:161px;
  top:508px;
  width:27px;
  height:16px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#BCBCBC;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:62px;
  top:506px;
  width:27px;
  height:16px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#BCBCBC;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:278px;
  top:508px;
  width:27px;
  height:16px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#BCBCBC;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
