body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:250px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:730px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:730px;
}
#u1 {
  position:absolute;
  left:2px;
  top:357px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:5px;
  top:0px;
  width:239px;
  height:65px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:65px;
}
#u3 {
  position:absolute;
  left:2px;
  top:24px;
  width:235px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:5px;
  top:75px;
  width:53px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:5px;
  top:101px;
  width:75px;
  height:100px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:100px;
}
#u7 {
  position:absolute;
  left:2px;
  top:42px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:87px;
  top:101px;
  width:75px;
  height:100px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:100px;
}
#u9 {
  position:absolute;
  left:2px;
  top:42px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:168px;
  top:101px;
  width:75px;
  height:100px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:100px;
}
#u11 {
  position:absolute;
  left:2px;
  top:42px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:17px;
  top:110px;
  width:50px;
  height:60px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:22px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:27px;
  top:180px;
  width:32px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:99px;
  top:110px;
  width:50px;
  height:60px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
}
#u17 {
  position:absolute;
  left:2px;
  top:22px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:105px;
  top:180px;
  width:40px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:181px;
  top:110px;
  width:50px;
  height:60px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
}
#u21 {
  position:absolute;
  left:2px;
  top:22px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:191px;
  top:180px;
  width:31px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
