body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:920px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:920px;
}
#u1 {
  position:absolute;
  left:2px;
  top:452px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:260px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:260px;
}
#u3 {
  position:absolute;
  left:2px;
  top:122px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:350px;
  width:320px;
  height:70px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u5 {
  position:absolute;
  left:2px;
  top:27px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:270px;
  width:320px;
  height:70px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u7 {
  position:absolute;
  left:2px;
  top:27px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:131px;
  top:10px;
  width:60px;
  height:60px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:101px;
  top:71px;
  width:40px;
  height:16px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:160px;
  top:73px;
  width:21px;
  height:13px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:191px;
  top:73px;
  width:21px;
  height:13px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:13px;
  top:308px;
  width:133px;
  height:15px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:14px;
  top:390px;
  width:297px;
  height:15px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:15px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:51px;
  top:108px;
  width:37px;
  height:18px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:111px;
  top:108px;
  width:10px;
  height:46px;
}
#u22_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u22_end {
  position:absolute;
  left:-5px;
  top:29px;
  width:20px;
  height:18px;
}
#u22_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:46px;
}
#u23 {
  position:absolute;
  left:147px;
  top:110px;
  width:27px;
  height:18px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:200px;
  top:108px;
  width:10px;
  height:46px;
}
#u25_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u25_end {
  position:absolute;
  left:-5px;
  top:29px;
  width:20px;
  height:18px;
}
#u25_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:46px;
}
#u26 {
  position:absolute;
  left:236px;
  top:108px;
  width:23px;
  height:18px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:227px;
  top:136px;
  width:41px;
  height:13px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:10px;
  color:#D7D7D7;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:145px;
  top:138px;
  width:31px;
  height:13px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:10px;
  color:#D7D7D7;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:54px;
  top:136px;
  width:31px;
  height:13px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:10px;
  color:#D7D7D7;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:36px;
  top:190px;
  width:121px;
  height:40px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
}
#u35 {
  position:absolute;
  left:2px;
  top:12px;
  width:117px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:170px;
  top:190px;
  width:121px;
  height:40px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#FFFFFF;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
}
#u37 {
  position:absolute;
  left:2px;
  top:12px;
  width:117px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:36px;
  top:282px;
  width:40px;
  height:16px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:267px;
  top:10px;
  width:27px;
  height:16px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#FFFFFF;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:35px;
  top:359px;
  width:27px;
  height:16px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:0px;
  top:431px;
  width:320px;
  height:339px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:339px;
}
#u45 {
  position:absolute;
  left:2px;
  top:162px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:14px;
  top:442px;
  width:53px;
  height:16px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:14px;
  top:495px;
  width:53px;
  height:16px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#008000;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:236px;
  top:493px;
  width:66px;
  height:19px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  color:#FFCC00;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:14px;
  top:523px;
  width:296px;
  height:30px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:12px;
  color:#515151;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:30px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:14px;
  top:565px;
  width:296px;
  height:10px;
}
#u54_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_end {
  position:absolute;
  left:279px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_line {
  position:absolute;
  left:0px;
  top:5px;
  width:296px;
  height:1px;
}
#u55 {
  position:absolute;
  left:14px;
  top:476px;
  width:296px;
  height:10px;
}
#u55_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:279px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:5px;
  width:296px;
  height:1px;
}
#u56 {
  position:absolute;
  left:14px;
  top:587px;
  width:53px;
  height:16px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#008000;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:236px;
  top:585px;
  width:66px;
  height:19px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  color:#FFCC00;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:14px;
  top:615px;
  width:296px;
  height:30px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:12px;
  color:#515151;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:30px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:14px;
  top:666px;
  width:296px;
  height:10px;
}
#u62_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_end {
  position:absolute;
  left:279px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_line {
  position:absolute;
  left:0px;
  top:5px;
  width:296px;
  height:1px;
}
#u63 {
  position:absolute;
  left:14px;
  top:688px;
  width:53px;
  height:16px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#008000;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:236px;
  top:686px;
  width:66px;
  height:19px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  color:#FFCC00;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:14px;
  top:716px;
  width:296px;
  height:30px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:12px;
  color:#515151;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:30px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:0px;
  top:772px;
  width:320px;
  height:40px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#999999;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u70 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:14px;
  top:280px;
  width:10px;
  height:20px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:20px;
}
#u72 {
  position:absolute;
  left:2px;
  top:2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:14px;
  top:359px;
  width:11px;
  height:20px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:20px;
}
#u74 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:16px;
  top:6px;
  width:41px;
  height:22px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:22px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:36px;
  top:190px;
  width:121px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
